.done {
    text-decoration: line-through;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    background-color:rgb(243, 243, 243);
}

.pointer:active {
    background-color:rgb(230, 230, 230)
}